<div class="list-group">
    <a href="/blogs" class="list-group-item list-group-item-action">Tüm Kategoriler
    </a>
    <% categories.forEach(function(category) {%>
        <a href="/blogs/categories/<%= category.idcategories %>" 
            class="list-group-item list-group-item-action <%= selectedCategory ==category.idcategories ? 'active':'' %> "> 
            <%= category.name %> 
        </a>

    <% }) %>
                        
</div>